<body style="text-align: center; background-color: #deedef;">
<div class="head">
  <div class="top"></div>
  <div>
    <img src="/assets/showlew.png" class="home_icon">
  </div>
  <br>
  <br>
  <h1> A Rubyist, Named ShowLew.</h1>
  <h4 class="home_located">Located chengdu.</h4>
  <hr class="home_hr">
</div>
<div class="center">
  <div class="introduction">
    <p class="tl">&nbsp;&nbsp;&nbsp;&nbsp; 自我介绍一下, 本人今年(2019年)23岁, 于去年6月毕业于<a href="http://www.sicnu.edu.cn/">四川师范大学(SICNU)</a>计算机科学学院-计算机科学与技术专业.  现就职于成都市,是一个介于初级和中级之间的RoR程序员.</p>
    <p class="tl">&nbsp;&nbsp;&nbsp;&nbsp; 写这个Blog的主要目的呢,就是想给自己练练手,并记录一下自己对一些事情的看法,暂时的想法是开放一个评论功能(还没写~)当然啦,我可以随意删除游客的回复(XD).</p>
    <p class="tl">&nbsp;&nbsp;&nbsp;&nbsp; 看过一些书籍,也浏览了一些网上的言论,回顾过自己发表的一些想法. 得出了一点现在的看法: "你不能去谴责或者diss十年前的你发过的说说、留过的发型、或者一些现在看起来比较愚蠢的事情". &nbsp;每个人生阶段对同一件事情有不同的看法,甚至于截然相反的观点也是很正常的,毕竟人生阅历在不断的增长,吃过的盐也在逐渐的增多.但是也不是说你现在的想法就比以前的自己正确.也许你现在的一些决定也只是被生活所迫的苟且而已.</p>
    <p class="tl">&nbsp;&nbsp;&nbsp;&nbsp; 所以我决定用Blog的方式看记录下每个时间段自己对一些事情的看法.</p>
    <br>
    <p class="tr">&nbsp;&nbsp;&nbsp;&nbsp; 以上.</p>
  </div>
</div>
<br>
<br>
<div class="foot">
  <div class="foot_link">
    <div class="first_box" title="Technology">
      <a href="/blog">
        <image src="/assets/technology.png"></image>
        <span class="font18">Technology</span>
      </a>
    </div>
    <div class="box" title="Article">
      <a href="/blog">
        <image src="/assets/article.png"></image>
        <span class="font18">Article</span>
      </a>
    </div>
    <div class="box" title="Contact Me">
      <a href="/blog">
        <image src="/assets/contact.png"></image>
        <span class="font18">Contact Me</span>
      </a>
    </div>
    <div class="box" title="Introduction">
      <a href="/blog">
        <image src="/assets/introduction"></image>
        <span class="font18">Introduction</span>
      </a>
    </div>
  </div>
</div>


</body>
