<body style="width: 100%; text-align: center;">
  <div>
    <img src="/assets/showlew.png" style="border-radius: 50%; width: 80px; height: 80px; margin: 0 auto;">
  </div>
  <h1> A Rubyist, Named Showlew</h1>


</body>
