/*字体*/
.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px !important;
}

.b {
  font-weight: bold;
}

/*宽度*/
.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w50 {
  width: 50px;
}
.w51 {
  width: 51px;
}
.w54 {
  width: 54px;
}
.w60 {
  width: 60px;
}
.w64 {
  width: 64px;
}
.w70 {
  width: 70px;
}

.w80 {
  width: 80px;
}
.w82 {
  width: 82px;
}
.w85 {
  width: 85px;
}
.w90 {
  width: 90px;
}
.w96 {
  width: 96px;
}
.w100 {
  width: 100px;
}

.w110 {
  width: 110px;
}

.w120 {
  width: 120px;
}

.w130 {
  width: 130px;
}
.w135 {
  width: 135px;
}
.w144{
  width:144px;
}
.w147 {
  width: 147px;
}

.w140 {
  width: 140px;
}

.w150 {
  width: 150px;
}

.w158 {
  width: 158px!important;
}

.w160 {
  width: 160px;
}
.w165 {
  width: 165px;
}
.w168 {
  width: 168px;
}
.w170 {
  width: 170px;
}
.w175 {
  width: 175px;
}
.w180 {
  width: 180px;
}
.w185 {
  width: 185px;
}
.w190 {
  width: 190px;
}
.w194 {
  width: 194px;
}

.w195 {
  width: 195px;
}

.w200 {
  width: 200px;
}

.w205 {
  width: 205px;
}
.w230 {
  width: 230px;
}
.w233{
  width: 233px;
}

.w258 {
  width: 258px;
}

.w265 {
  width: 265px;
}

.w280 {
  width: 280px;
}

.w300 {
  width: 300px;
}

.w320 {
  width: 320px;
}

.w350 {
  width: 320px;
}
.w355 {
  width: 320px;
}

.w385 {
  width: 385px;
}

.w389 {
  width: 389px;
}

.w400 {
  width: 400px;
}

.w450 {
  width: 450px;
}

.w468 {
  width: 468px !important;
}

.w498 {
  width: 498px !important;
}

.w500 {
  width: 500px;
}

.w508 {
  width: 508px;
}

.w600 {
  width: 600px;
}

.w700 {
  width: 700px;
}

.w750 {
  width: 750px;
}

.w800 {
  width: 800px;
}

.w960 {
  width: 960px;
}

.w10p{
  width: 10%;
}
.w15p{
  width: 15%;
}
.w20p{
  width: 20%;  
}

.w30p{
  width: 30%;
}

.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}

.w1400 {
  width: 1400px;
}

.w92p {
  width: 92%;
}

/*高度*/
.h15 {
  height: 15px;
}

.h25 {
  height: 25px;
}

.h24 {
  height: 24px;
}

.h30 {
  height: 30px
}

.h40 {
  height: 40px
}

.h50 {
  height: 50px
}

.h80 {
  height: 80px
}

.h100 {
  height: 100px;
}

.h125 {
  height: 125px;
}

.h150 {
  height: 150px;
}

.h160 {
  height: 160px
}
.h239{
  height: 239px;
}

.h270 {
  height: 270px;
}

.h307 {
  height: 307px;
}

.h500 {
  height: 500px;
}

.h365 {
  height: 365px;
}

/*位置*/
.center {
  margin: 0 auto;
}

.no-margin {
  margin: 0px;
}

.fl {
  float: left;
}

.fc {
  float: center;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.l208 {
  left: 208px;
}

.m5{
  margin-left: 5px;
  margin-right: 5px;
}

.m10{
  margin-left: 10px;
  margin-right: 10px;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt5 {
  margin-top: 5px;
}

.mt6 {
  margin-top: 6px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt50 {
  margin-top: 50px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml3 {
  margin-left: 3px;
}

.ml5 {
  margin-left: 5px;
}

.ml8 {
  margin-left: 8px;
}

.ml10 {
  margin-left: 10px;
}

.ml12 {
  margin-left: 12px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}
.ml64{
  margin-left: 64px;
}

.ml100 {
  margin-left: 100px;
}

.ml150 {
  margin-left: 150px;
}

.ml180 {
  margin-left: 180px;
}

.ml185 {
  margin-left: 185px;
}

.ml24-mt5{
  margin-left: 24px;
  margin-top: 5px
}

.mr0 {
  margin-right: 0px!important;
}

.mr5 {
  margin-right: 5px;
}

.mr8 {
  margin-right: 8px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr16 {
  margin-right: 16px;
}

.mr13 {
  margin-right: 13px;
}

.mr18 {
  margin-right: 18px;
}

.mr20 {
  margin-right: 20px!important;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr38 {
  margin-right: 38px!important;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.m12_0 {
  margin: 12px 0px;
}

.m8_0 {
  margin: 8px 0px;
}

.m0_5{
  margin: 0px 5px;
}
.p12 {
  padding: 12px;
}

.pt7 {
  padding-top: 7px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt25 {
  padding-top: 25px;
}

.pt40 {
  padding-top: 40px;
}

.pl0 {
  padding-left: 0px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl50 {
  padding-left: 50px;
}

.pl138 {
  padding-left: 138px;
}

.pl150 {
  padding-left: 150px;
}

.pd0_20 {
  padding: 0px 20px;
}

.pb10 {
  padding-bottom: 10px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

/*内容位置*/
.textc {
  text-align: center!important;
}

.textr {
  text-align: right!important;;
}

.textl {
  text-align: left;
}

.textm {
  vertical-align: middle;
}

.textcm {
  text-align: center;
  vertical-align: middle;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.vat {
  vertical-align: top;
}

.vam {
  vertical-align: middle;
}

/*颜色*/
.pink {
  color: #FF007E !important;
}

.gary {
  color: #777777 !important;
}

.black{
  color: #333333!important;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.red_important {
  color: red !important;
}

.green {
  color: green;
}

.blue {
  color: #0000FF;
}

.blue_link {
  color: #005EA7 !important;
}

.blue_link:hover {
  text-decoration: underline !important;
}

.black {
  color: #000000;
}

.white {
  color: #FFFFFF;
}

.grey {
  color: grey;
}

.bgdd {
  background-color: #EEE;
}

.bgred {
  background-color: #EC5757;
}

.bggrey {
  background-color: #FBFBFB;
}

.bgwhite {
  background-color: #ffffff;
}

.bg7 {
  background-color: #f3f3f3;
}

.bgorange {
  background-color: #FFB90F;
}

/*其他*/
.clear {
  clear: both;
}

.hide {
  display: none!important;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer
}

.bt0 {
  border-top: 0px
}

.underline {
  text-decoration: underline;
}

.lh60 {
  line-height: 60px;
}
.lh10{
  line-height: 10px;
}
.lh18{
  line-height: 18px;
}


/*footer*/
.footer {
  width: 100%;
  text-align: center;
  background: #f9f9f9 url(/assets/dota/fotter_bg_03.jpg) repeat-x;
}

table.common {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 12px;

  td, th {
    margin: 0;
    padding: 4px;
    border: 1px solid #ccc;
  }

  thead th {
    margin: 0;
    padding: 4px;
    border: 1px solid #ccc;
    font-weight: bold;
  }
}
table.table_special {
th{
   background-color:#f5f5f5;
}

tr:hover > td{
   background-color:#fbfbfb;
}
}

table.table_primary{
  th{
    width:15%;
    padding: 5px;
    line-height: 30px;
    border: 1px solid #dddddd;
    font-weight: normal;
  }
 td{
   width: 35%;
   padding: 5px;
   line-height: 30px;
   border: 1px solid #dddddd;
 }
}
th.bg {
  background-color: #f5f5f5;
  text-align: right;
}

th.bg_tc {
  background-color: #f5f5f5;
  text-align: center;
  min-width: 150px;
}

.Ptable {
  border-collapse: collapse;
  width: 100%;

  th {
    background: none repeat scroll 0 0 #FBFBFB;
    clear: both;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    color: #005AA0;
    border: 1px solid #DBDBDB;
  }

  tr {
    border: 1px solid #E4E4E4;
  }

  td {
    padding: 2px 5px;
    height: 34px;
    border: 1px solid #E4E4E4;
  }

  .tr-text-align {
    text-align: center;
  }
}

.del {
  text-decoration: line-through;
}

// 换行
.break {
  table-layout: fixed;
  word-break: break-all;
  overflow: hidden;
}

select {
  width:173px;
}

div.select2-container-multi.select2-container {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;

  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  & > ul {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    & > li.select2-search-field {
      height: 28px;
    }
  }
}

table.long-text-table {
  & th {
    width: 15%; //10%
  }
  & td {
    width: 35%; //40%
  }
}

table.none-border {
  & th {
    border: none;
  }
  & td {
    border-bottom: none;
    border-right: none;
    border-left: none;
  }
}

input.pseudo-input {
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
}

.relative-container {
  position: relative;
}

table.h25p {
  & th {
    width: 25%;
  }
}

//右下角弹窗
div.l-dialog-fixed {
  right: 20px;
  word-wrap: break-word;
  & div.l-dialog-content {
    height:80px !important;
  }
}

/*所有表格内的操作列表添加'|'做分隔*/
* span.operation + span.operation:before {
  content: "|";
  padding: 0px 3px;
}

//* span.operation a {
//  padding-right: 2px
//}

input.half-width {
  width: 103px;
}

.auto{
  margin: 0 auto;
}

.watermark{
  background:url(watermark.png) repeat;
}

.img-v4{
  background: url("img-v4.png")
}
.mb15{
  margin-bottom:15px;
  }

.small_image{
  width:50px!important;
  height:50px!important
  }

  .small_image100{
  width:100px!important;
  height:100px!important
  }

  .small_image240{
  width:240px!important;
  height:240px!important
  }

.background_no{
  background-image:none!important;
}
.js_date{
  height: 100px !important;
  border-spacing: 0;
  font-size: 12px;
  border: 1px solid #ccc;
  line-height: 39px;
}

.bg{
  background:#f8f8f8
}

.oh{
  overflow: hidden;
}

.overfl{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle_green {
	margin-left: auto;
	margin-right: auto;
	width: 25px;
	height: 25px;
	background: green;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 12px;
}

.circle_orange {
	margin-left: auto;
	margin-right: auto;
	width: 25px;
	height: 25px;
	background: #fa8c16;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 12px;
}